#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 2;
  text-align: center;
}
#burger {
  position: relative;
  top: 40%;
  height: auto;
  width: auto;
  z-index: 3;
  padding: 0px;
  margin: 0px;
}