#root {
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222;
  height: auto;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid white;
}
nav h1 {
  padding: 20px;
  color: white;
  float: left;
  margin-left: 20px;
}
nav ul {
  padding: 20px;
  position: absolute;
  right: 0;
  top: 20%;
  margin-right: 20px;
}
nav ul li {
  display: inline;
  padding: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
.content {
  margin-top: 260px;
  height: 100%;
  width: 100%;
}
img {
  margin-left: 20%;
  width: 80%;
  height: 50vh;
}
.Footer {
  position: absolute;
  bottom: 0;
  left:0px;
  right: 0px;
}